<% if ((post.original != false && !is_page() && theme.copyright) || post.original){ %>
<div class="article_copyright">
    <span class="copy-title"><%= __('post.author') %>:</span><a  title="<%=config.author%>"><%=config.author%></a></br>
    <span class="copy-title"><%= __('post.created_at') %>:</span><%= post.date.format("YYYY-MM-DD, HH:mm:ss") %></br>
    <span class="copy-title"><%= __('post.updated_at') %>:</span><%= post.updated.format("YYYY-MM-DD, HH:mm:ss") %></br>
    <span class="copy-title"><%= __('post.url') %>:</span><a class="post-url" href="<%- url_for(post.path) %>" title="<%= post.title %>"><%= post.permalink %></a></br>
    <span class="copy-title"><%= __('post.copyright') %>:</span><%= __('post.copyright2') %>
</div>
<% } %>
